*{
    text-decoration:none;
    }

    body{
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-image: url('../../assets/images/bg55.jpg');
        background-position: 60% 50%;
}
    .header{
        margin-left:20px;
        margin-top:10px;
        margin-right:20px;
        display:flex;
        flex-direction:row;
        border-bottom: 1px solid #333;
         
}
    .image-logo{
        margin-top:20px;
        margin-right: 10px;
    }
    .nav-list{
        display:flex;
        flex-direction:row;
        margin-left:200px;
        padding-top:20px;
    }
    .nav-item{
        margin-left:80px;
        font-size:24px;
        text-transform: capitalize;
    }    
    li {
        list-style:none;
    }
    .nav{
        color:purple;
    }
    .nav:hover{
        color:rgb(16, 158, 130);
        text-decoration:underline;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display:none;
        position: absolute;
        background-color: #F9F9F9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .button-1{
        margin-left: 90px;
        margin-top:27px;
    }
    .login{
        padding:10px 30px 10px 30px;
        background-color: #333;
        color:white;
        border-radius:10px;
    }
    main{
        border-top: 1px solid white;
    }
   
    .rightside-content{
        display:flex;
        border-bottom:1px solid white;
    }
    .right-content{
        display:flex;
        flex-direction:row;
    }
    .content-1{
        margin-left:20px;
        margin-top:50px;
        margin-right:20px;
    }
    .heading-1{
        font-size:60px;
        color:rgb(140, 70, 140);
    }
    .main-tag-1 .tagline-1 {
        color:rgb(36, 159, 126);
        font-size:23px;
    }
    .button-2{
         margin-top: 90px;

    }
    .welcome{
        color:rgb(36, 159, 126);
        font-size:30px;
        margin-top:40px;
    }
    .past-entries{
        margin-left: 40px;
    }
    .content-1 p{
        position: relative;
        top:10px;
        font-size: 20px;}

    .content-1 button{
        margin-top: 10px;
        padding:15px 35px 15px 35px;
        background-color: #333;
        color:white;
        border-radius:10px;
        position:relative;
        bottom:30px;
    }
    .content-3 h2{
        margin-left:600px;
        margin-top: 70px;
        font-size: 35px;
           
        }
    .content-3{
        color:rgba(33, 33, 133, 0.945)
    }
    .mood{
        font-size: 18px;
    }
    .past-entries{
        font-size: 18px;
    }
    
    .main-slogan-image1{
        margin-right: 30px;
    }
    .main-3{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left:600px;
        margin-top:70px;
    }
    .main-tag-3{
        font-size: 20px;
        position: relative;
        right:150px;
    }
    .main-slogan-image3{
        position: relative;
       left:40px;
    }
    .main-4{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-right:800px;
        margin-left: 80px;
        margin-top:70px;
        position: relative;
        right:50px;
    }
    .main-tag-4{
        font-size: 20px;
        position: relative;
        left:150px;
    }
    .main-slogan-image4{
        position: relative;
        left:50px;
    }
    .main-5{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left:500px;
        margin-top:70px;
    }
    .main-tag-5{
        font-size: 20px;
        position: relative;
        right:150px;
    }
    .main-slogan-image5{
        position: relative;
        right:70px;
    }
    .main-6{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-right:800px;
        margin-top:70px;
    }
    .main-tag-6{
        font-size: 20px;
        position: relative;
        left:150px;
    }
    .main-slogan-image6{
        position: relative;
        left:50px;
    }
   
    
    footer{
       
        margin-top: 40px;
    }
    .socialmedia{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .contact-us{
        margin-left: 600px;
    }
    .label{
        font-size: 20px;
        color:black;
        margin-left: 50px;

    }
   .socialyou{
        margin-right: 30px;
    }
    .socialins{
        margin-left:30px; 
    }