*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    color:black;
}
body{
    background: url('../../assets/images/soft-yellow-watercolor-texture.png');
    background-size:cover;
  
    
}
.login-form{
  
    width: 400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;

}
.login-form h1{
    font-size:40px;
    text-align:center;
    text-transform: uppercase;
    margin:40px 0;

}
.login-form p{
    font-size: 20px;
    margin: 15px 0;

}
.login-form input{
    font-size:16px;
    width:100%;
    padding:15px 10px;
    border:0;
    outline:none;
    border-radius:5px ;
}
 .button .login{
    font-size:18px ;
    font-weight: bold;
    margin:20px 0;
    padding:10px 15px;
    width:100px;
    border-radius:5px;
    border:0;
}
.login:hover{
    background-color:#333;
    opacity: 0.9;
}
.button .signup{
    font-size:18px;
    font-weight: bold;
    margin:20px 0;
    padding:10px 15px;
    width:120px;
    border-radius:5px;
    border:0;
    margin-left: 30px;
}
.signup:hover{
    background-color:#333;
    opacity: 0.9;
}
.button{
    display:flex;
    flex-direction: row;
    
}
