body{
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
    border:none;
    transition: 0.2s linear;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;

    background-image: url('../../assets/images/bg55.jpg');
    background-position: 60% 50%;
}


html{
    overflow-x:hidden;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.1);
    z-index: 800;
    padding:1rem 2rem;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
    text-transform:capitalize;
}

header .navbar{
    font-size:1.4rem;
    color:#333;
    margin-left:0.9rem;
}
header .navbar a{
    text-decoration: none;
    padding:0 1.9rem;
    color:black;
}
header .navbar a:hover{
    color:white;
}
 .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:  1rem 2rem;
    z-index: 1;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
  }
  .dropdown-content p a{
    font-size:1.3rem;
    color:black;
  }
  .dropdown span{
   position:relative;
   left:2rem;
   color:black;

  }
  .dropdown span:hover{
    color:white;
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }

  .button-1{
   vertical-align: top;
}
.login:hover{
  opacity: 0.8;
}
.login{
    padding:0.6rem 2rem;
    background-color: #333;
    color:white;
    border-radius:1rem;
}
main{
  position: relative;
  top:10rem;
  
}

.header-1{
  display:flex;
  flex-direction:row;
}
.heading1 h1{
  font-size:40px;
  color:rgb(214, 125, 42);
  margin-left:30px;
}
.img1{
position:relative;
top:35px;
}
h2{
  color: #082032;
  font-size: 32px;
  margin-left:60px;
}
.emo-entry-1 button{
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 30px 40px 30px 40px;
  border-radius: 20px;
}
.emo-entry-1 img:hover{
  transform: rotate(30deg);
}
.emo-entry-1 button p{
  font-size: 20px;
}
.notes{
  font-size: 2ch;
  max-width:280px;
  max-height: 200px;
  border:1px solid #333;
  padding:10px 15px 10px 15px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  line-height:27px ;
  border-radius: 15px;
  box-shadow:2px 3px black;
  
}
.notes p{
  position: relative;
  left:10px;

}

.latest-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.emo-entry-1{
  margin-right: 70px;
}
.pic-1{
margin-left: 70px;
margin-bottom: 70px;
position: relative;
bottom: 10px;
}
.topic1{
  display: flex;
  flex-direction: row;
  margin-left:80px;
}
.top-1 h3{
   font-size:27px;
   
}
.pic-2{
  margin-left:10px;
  margin-top:26px;
}
.values{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}
.btn1 button{
  width:100px;
  height: 180px;;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
  font-size: 18px;
}
.btn1 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn2 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
  
}
.btn2 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.2);
  border-radius:20px ;
}
.btn3 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
 
}
.btn3 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn4 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
}
.btn4 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn5 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;

}
.btn5 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn6 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
 
}
.btn6 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}


.btn8 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
  
}
.btn8 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn9 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:rgb(214, 145, 34);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
 
}
.btn9 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn10 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:orange;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;

}
.btn10 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.btn11 button{
  width:100px;
  height: 180px;
  background-color: #082032;
  color:orange;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  margin-left: 17px;
  
}
.btn11 button:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.day-btn1{
  position: relative;
  bottom: 7px;
}
.day-btn1{
  position: relative;
  bottom: 7px;
  font-size: 15px;
}
.day-btn2{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}
.day-btn3{
  position: relative;
  bottom: 11px;
  font-size: 16px;
}
.day-btn4{
 position:relative;
  bottom: 8px;
  font-size: 16px;
}
.day-btn5{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}
.day-btn6{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}

.day-btn8{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}
.day-btn9{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}
.day-btn10{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}
.day-btn11{
  position: relative;
  bottom: 7px;
  font-size: 16px;
}
.date-btn1{
  font-size: 16px;

}
.date-btn1{
  font-size: 16px;
  position: relative;
  bottom: 6px;
}
.date-btn2{
  font-size: 16px;
  position: relative;
  bottom: 5px;
}
.date-btn3{
  font-size: 16px;
  position: relative;
  bottom: 7px;
}
.date-btn4{
  font-size: 16px;
  position: relative;
  bottom: 7px;
}
.date-btn5{
  font-size: 16px;
  position: relative;
  bottom: 6px;
}
.date-btn6{
  font-size: 16px;
  position: relative;
  bottom: 6px;
}
.date-btn8{
  font-size: 16px;
  position: relative;
  bottom: 6px;
  
}
.date-btn9{
  font-size: 16px;
  position: relative;
  bottom: 7px;

}
.date-btn10{
  font-size: 16px;
  position: relative;
  bottom: 7px;
  
}
.date-btn11{
  font-size: 16px;
  position: relative;
  bottom: 7px;
  
}
.emoji-btn1 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
}
.emoji-btn1 img:hover{
  transform: rotate(30deg);
}
.emoji-btn11 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
 
}
.emoji-btn11 img:hover{
  transform: rotate(30deg);
}
.emoji-btn2 img{
  width:55px;
  height: 55px;
  position: relative;
  position: relative;
  right:5px;
}
.emoji-btn2 img:hover{
  transform: rotate(30deg);
}
.emoji-btn3 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
 
}
.emoji-btn3 img:hover{
  transform: rotate(30deg);
}
.emoji-btn4 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
  
}
.emoji-btn4 img:hover{
  transform: rotate(30deg);
}
.emoji-btn5 img{
  width: 55px;
  height: 55px;
  position: relative;
  right:5px;
  
}
.emoji-btn5 img:hover{
  transform: rotate(30deg);
}
.emoji-btn6 img{
  width: 55px;
  height: 55px;
  position: relative;
  
  right:5px;
 
}
.emoji-btn6 img:hover{
  transform: rotate(30deg);
}
.emoji-btn7 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
}
.emoji-btn7 img:hover{
  transform: rotate(30deg);
}
.emoji-btn8 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
}
.emoji-btn8 img:hover{
  transform: rotate(30deg);
}
.emoji-btn9 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
}
.emoji-btn9 img:hover{
  transform: rotate(30deg);
}
.emoji-btn10 img{
  width:40px;
  height: 40px;
  position: relative;
  top:5px;
}
.emoji-btn10 img:hover{
  transform: rotate(30deg);
}

  

.daily-view-entries{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
}
.left-arrow img {
  margin-right:20px;
 
}
.right-arrow img {
  margin-left:30px;
 
}
.enter-journal{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
 
}
.notes2{
  font-size: 2.1ch;
  max-width:250px;
  max-height: 280px;
  border:1px solid #333;
  padding:10px 15px 10px 15px;
  background-color: #082032;
  color:orange;
  line-height:27px ;
  border-radius: 15px;
  box-shadow:2px 3px black;
  margin-left: 30px;
}
.notes2 p{
  position: relative;
  left:10px;

}
.notes2:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.notes3{
  font-size: 2.1ch;
  max-width:250px;
  max-height: 310px;
  border:1px solid #333;
  padding:10px 15px 10px 15px;
  background-color: #082032;
  color:orange;
  line-height:27px ;
  border-radius: 15px;
  
  margin-left: 30px;
}
.notes3 p{
  position: relative;
  left:10px;

}
.notes3:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.notes4{
  font-size: 2ch;
  max-width:250px;
  max-height: 280px;
  border:1px solid #333;
  padding:10px 15px 10px 15px;
  background-color: #082032;
  color:orange;
  line-height:27px ;
  border-radius: 15px;
  box-shadow:2px 3px black;
  margin-left: 30px;
}
.notes4 p{
  position: relative;
  left:10px;

}
.notes4:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.notes5:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.notes5{
  font-size: 2ch;
  max-width:250px;
  max-height: 280px;
  border:1px solid #333;
  padding:10px 15px 10px 15px;
  background-color: #082032;
  color:orange;
  line-height:27px ;
  border-radius: 15px;
  box-shadow:2px 3px black;
  margin-left: 30px;
}
.notes5 p{
  position: relative;
  left:10px;
}
.enter-journal{
  position: relative;
  bottom:60px;
}
.topic1{
  position: relative;
  bottom:60px;
}
.jour h2{
  position: relative;
  bottom:60px;
}
.daily-emoji{
  position: relative;
  bottom:60px;
 
}
.daily-emoji h2{
  position: relative;
  bottom:60px;
}
.emo-entry-1:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.notes:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
  border-radius:20px ;
}
.scales{
  margin-left:5rem;
 border:1px solid #333;
 border-radius:10px;
 background-color:#082032;
 color:orange;
 box-shadow:1px 1px 1px #333;
 padding:1.5rem 0 0 1.2rem;
 width:14rem;
 height:13rem;
 font-size: 18px;
}
.scales:hover{
  box-shadow: 2px 3px orange;
  transform: scale(1.1);
}
.sleep{
  display:flex;
  flex-direction: row;
  margin-top:15px;
  margin-bottom:20px;
}

.irritability{
  display:flex;
  margin-top:0;
  margin-bottom:20px;
}
.anxiety{
  display:flex;
  margin-top:0;
  margin-bottom:20px;
 }
.happiness{
  display:flex;
  margin-top:0;
  margin-bottom:20px;
}
.scale-grid{
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  position: relative;
  bottom:2rem;

}
.pic-4{
  margin-left:30px;
  margin-top:70px;

}
.pic-3{
  margin-bottom:30px;
}

