body{
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
    border:none;
    transition: 0.2s linear;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color:white;
    color:rgb(202, 140, 24);
}

html{
    overflow-x:hidden;
}

header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.1);
    z-index: 800;
    padding:1rem 2rem;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
    text-transform:capitalize;
}

header .navbar{
    font-size:1.4rem;
    color:#333;
    margin-left:0.9rem;
}
header .navbar a{
    text-decoration: none;
    padding:0 1.9rem;
    color:black;
}

header .navbar a:hover{
  color:rgb(255, 255, 255);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display:none;
  position: absolute;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  background: linear-gradient(120deg ,#26506b,#9e66b6);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content span:hover{
 color:white;
}
  .button-1{
   vertical-align: top;
}
.login{
    padding:0.6rem 2rem;
    background-color: #333;
    color:white;
    border-radius:1rem;
}
.login:hover{
  opacity: 0.8;
}

h1{
  color:rgb(202, 140, 24);
  margin-top:50px;
  margin-left:60px;
  font-size: 45px;
}
.resolution{
       
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  position: relative;
  top:70px;
}
.resolution1-4{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
}
.resolution5-8{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
}
.resolution1-4 p{
  padding:20px;
  border:1px solid #082032;
  font-size: 20px;
  font-weight: bold;
  background:#082032 ;
  border-radius:20px;
  margin-right: 40px;
}

.resolution5-8 p{
  padding:20px;
  border:1px solid #082032;
  font-size: 20px;
  font-weight: bold;
  background:#082032 ;
  border-radius:20px;
  margin-left: 40px;
}

footer{
  margin-top: 40px;
  border-top:1px solid white;
  position:relative;
  top:15rem;
 
}
.socialmedia{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.socialmedia p{
   margin-right: 30px;
}
.socialyou{
   margin-right: 30px;
}
.socialins{
   margin-left:30px; 
}

footer{
  display:flex;
  align-items:center;
  flex-direction:column;
  text-align: center;
  background-color: black;
  color:white;
}
footer a{
  text-decoration: none;
  font-size:23px;
  color:#9e66b6;
  display:inline-block;
  margin-left: 30px;;
 
}
footer a:hover{
  color:magenta;
}
@media (max-width:800px){
    
  html{
      font-size: 55%;
  }
  header{
      padding:1rem;
  }
  header .fa-bars{
      display: inline-block;
  }
  header .navbar{
      position:absolute;
      top:100%; left:0; right:0;
      background:#eee;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path:polygon(0 0, 0 0, 0 0, 0 0);
  }

  header #toggler:checked ~ .navbar{
      clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
      margin:1.5rem;
      padding:1.5rem;
      display:block;
  }
  .resolution{
      flex-wrap:wrap;
  }
  .picture img{
      width:100%;

  }
}