body{
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
    border:none;
    transition: 0.2s linear;
    box-sizing:border-box;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color:#080232;
}


html{
    overflow-x:hidden;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.1);
    z-index: 800;
    padding:1rem 2rem;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
}

header .navbar{
    font-size:1.4rem;
    color:#333;
    margin-left:0.9rem;
}
header .navbar a{
    text-decoration: none;
    padding:0 1.9rem;
    color:black;
}
header .navbar a:hover{
    color:rgb(255, 255, 255);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display:none;
    position: absolute;
    
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:  1rem 2rem;
    z-index: 1;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
  }
  .dropdown-content p a{
    font-size:1.3rem;
    color:black;
  }
  .dropdown span{
   position:relative;
   left:2rem;
   color:black;
 }
 .dropdown span:hover{
    color:white; 
 }
  .dropdown:hover .dropdown-content {
    display:block;
  }
  .button-1{
   vertical-align: top;
}
.login{
    padding:0.6rem 2rem;
    background-color: #333;
    color:white;
    border-radius:1rem;
}
.login:hover{
    opacity:0.8;
}
main{
    position: relative;
    top:9rem;
}

main{
    margin:auto;
    width:75vw;

 }
 .main-slogan{
    background-image: url('../../assets/images/disgust.jpg');
    background-size:100% 100%;
    width:95%;
    height:700px;
    border-radius:20px;
    margin: auto;
}
h1{
    font-size: 50px;
    margin-left:40px ;
}
 .disgust-p{
    position: relative;
    width: 60rem;
    font-size: 25px;
    padding: 1.875rem 1.25rem 1.25rem;
    background: 0 0;
    border: 1px solid #eee;
    box-shadow: 6px 6px 0 0 rgb(226 129  19/ 50%);
    margin: 2rem 0;
    margin-left: 3rem;
   
}

.space{
 margin-left: 40px;
}
    .disgusting-p{
     width: 90%;
     margin-left: 40px;
     font-size: 18px;
     text-align: left;
     line-height: 1.95rem;
     font-weight: 6px;

}
.heading-1{
    font-size: 35px;
    margin-left: 40px;
  }

.message1{
    border-radius: 20px;
    width: 90%;
    height: 550px;
    background-color:#080232;
    margin-left: 60px;
}
.img1{
    display: flex;
    flex-direction:row;
 }
.img1 img{
    border-radius: 20px;
    margin-top:55px ;
    margin-bottom: 20px;
    margin-left: 40px;

}
.context1{
background-color: rgb(226, 129, 19);
width:50%;
height:450px;
margin-top: 55px;
border-radius: 20px;
margin-left:30px;
}
.text1{
text-align: left;
margin-top:30px;
margin-left:30px;
margin-right: 30px;;

}
.text1 h4{
font-size: 27px;
position: relative;
left: 20px;
}
.key-p {
font-size: 20px;
line-height: 2.35rem;
}
table{
    margin-left:40px;
    width: 60rem;
 }
table,th,td{
    border:1px solid white;
    padding:1rem;
   
}
th,td{
    background-color:#080232;
    color:rgb(226, 129, 19);
}
.heading-2{
    margin-left:50px;
    font-size: 30px;
}
.message2{
    border-radius: 20px;
    width: 90%;
    height: 550px;
    background-color:#080232;
    margin-left: 60px;
    margin-top: 30px;
}
    .img2{
    display: flex;
    flex-direction:row-reverse;
    }
    .img2 img{
    border-radius: 20px;
    margin-top:50px ;
    margin-bottom: 20px;
    margin-right: 50px;
    }
    .context2{
    background-color: rgb(226, 129, 19);
    width:50%;
    height:450px;
    margin-top: 70px;
    border-radius: 20px;
    margin-right:60px;
    position: relative;
    left: 40px;
    bottom:10px;
    
 }
       .text2{
        padding: 30px;
        text-align: left;
        font-size:20px;
        line-height: 2.75rem;
        margin-top: 20px;
        position: relative;
        top: 5px;
        bottom:30px;

 }
 .heading-3{
    margin-left:50px;
    font-size: 30px;
}
footer{
    margin-top: 40px;
    border-top:1px solid white;
    position: relative;
    top:8rem;
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align: center;
    background-color: black;
    color:white;
 }
 .socialmedia{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin-top: 30px;
 }
 
 .socialmedia p{
     margin-right: 30px;
 }
 .socialyou{
     margin-right: 30px;
 }
 .socialins{
     margin-left:30px; 
 }
 

footer a{
    text-decoration: none;
    font-size:23px;
    color:#9e66b6;
    display:inline-block;
    margin-left: 30px;
   
  }
  footer a:hover{
    color:magenta;
  }
