body{
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
    border:none;
    transition: 0.2s linear;
    box-sizing:border-box;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color:white;
    background-color: black;
}


html{
    overflow-x:hidden;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.1);
    z-index: 800;
    padding:1rem 2rem;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
    text-transform: capitalize;
}

header .navbar{
    font-size:1.4rem;
    color:#333;
    margin-left:0.9rem;
}
header .navbar a{
    text-decoration: none;
    padding:0 1.9rem;
    color:black;
}
header .navbar a:hover{
    color:rgb(255, 255, 255);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content span:hover{
   color:white;
  }
 
  .button-1{
   vertical-align: top;
}
.login:hover{
   opacity:0.8;
}
.login{
    padding:10px 30px 10px 30px;
    background-color: #333;
    color:white;
    border-radius:10px;
}
main{
    position: relative;
    top:9rem;
}

main{
    margin:auto;
    width:75vw;

 }
.content-1{
    margin-top:40px;
    margin-bottom: 40px;
 }
 .main-slogan{
     background-image: url('../../assets/images/fear.jpg');
     background-size:100% 100%;
     width:95%;
     height:700px;
     border-radius:20px;
     margin: auto;
 }
 h1{
     font-size: 50px;
     margin-left:40px ;
 }
 h2{
     font-size: 30px;
     margin-left:40px;
 }
 
.fear-p{
    position: relative;
    width:60rem;
    font-size:22px;
    line-height: 1.75rem;
    padding: 1.875rem 1.25rem 1.25rem;
    background: 0 0;
    border: 1px solid #eee;
    box-shadow: 6px 6px 3px rgba(217, 28, 37, 0.5);
    margin: 2rem 0;
    margin-left:3rem;
    border-radius: 10px;
}

    .hello{
        margin-left: 40px;
       }
           .FEAR-p{
            width:60rem;
            margin-left: 40px;
            font-size: 22px;
            text-align: left;
            line-height: 1.95rem;
        }
       .heading-2{
        font-size: 35px;
       }
      .fearoften-p{
        width:60rem;
        margin-left: 3rem;
        font-size: 22px;
        text-align: left;
        line-height: 1.95rem;
      }
       .message1{
        border-radius: 20px;
        width:60rem;
        height: 600px;
        background-color:rgb(177, 76, 85);
        margin-left: 60px;
    }
    .img1{
        display: flex;
        flex-direction:row;
     }
    .img1 img{
        border-radius: 20px;
        margin-top:50px ;
        margin-bottom: 20px;
        margin-left: 40px;

    }
   .context1{
    background-color: white;
    color:black;
    width:45%;
    height:500px;
    margin-top: 50px;
    border-radius: 20px;
    margin-left:30px;
 }
 .text1{
    text-align: left;
    margin-top:80px;
    margin-left:30px;
    margin-right: 30px;;

 }
 .text1 h4{
    font-size: 27px;
    position: relative;
    left: 20px;
   }
    .sign-p {
      
       font-size: 20px;
       line-height: 1.75rem;
    }
    .types-p p,li:nth-child(-n+2){
        width:60rem;
    }
    table{
        margin-left:40px;
     }
    table,th,td{
        width:60rem;
        border:1px solid black;
        padding: 15px;
       
    }
    th,td{
        background-color:gray;
    }
    .heading-2{
        margin-left:30px;
    }
    .types-p{
        margin-left:60px;
        font-size: 18px;
        line-height: 1.25rem;
    }
    .about_two_types{
        margin-left:60px;
        font-size: 18px;
        line-height: 1.75rem;
    }
    .message2{
        border-radius: 20px;
        width: 90%;
        height: 650px;
        background-color:rgb(177, 76, 85);
        margin-left: 60px;
        margin-top: 30px;
    }
        .img2{
            display: flex;
            flex-direction:row-reverse;
        }
        .img2 img{
            border-radius: 20px;
            margin-top:50px ;
            margin-bottom: 20px;
            margin-right: 50px;
        }
        .context2{
            background-color:white;
            width:50%;
            height:550px;
            margin-top: 50px;
            border-radius: 20px;
            margin-right:40px;
            color:black;
           }
           .text2{
            padding: 30px;
            text-align: left;
            font-size:16px;
            line-height: 1.75rem;
           
            
           }
    
           .message3{
            border-radius: 20px;
            width: 90%;
            height: 650px;
            background-color:rgb(177, 76, 85);
            margin-left: 60px;      
            margin-top: 30px;
        }
        .img3{
            display: flex;
            flex-direction:row;
        }
        .img3 img{
            
            border-radius: 20px;
            margin-top:55px ;
            margin-bottom: 20px;
            margin-left: 40px;
        }
        .context3{
        color:black;
        background-color:white;
        width:50%;
        height:550px;
        margin-top: 55px;
        border-radius: 20px;
        margin-left:50px;
    }
    .text3{
        padding: 30px;
            text-align: left;
            font-size:16px;
            line-height: 1.75rem;
            position: relative;
            bottom: 20px;
    }
    .quotes{
        margin-top: 30px;
        margin-left:70px ;
    }
    .quotes-p{
        font-size:20px;
        font-weight: bold;
        border-radius: 9px;
        border-bottom-left-radius: 0;
        width: 90%;
        margin: 1.2rem 0;
        padding: 1.25rem 1rem;
        background: #f7f9f9;
        border-left: 5px solid rgb(177, 76, 85);
        text-align:center ;
        color:black;
    }
    