*{
    text-decoration:none;
    }
    body{
        background-color:lavender;
        font-family:"FS Albert Extra Bold",Helvetica,Arial,sans-serif;
}
       
    
    .header{
          
          display:flex;
          flex-direction:row;
          border-bottom: 1px solid #333;
         
    }