
*  {
    text-decoration:none;
    }
    body{
        background-color:lavender;
       
        font-family:"FS Albert Extra Bold",Helvetica,Arial,sans-serif;
    }
    .header{
          margin-left:40px;
          margin-top:30px;
          margin-right:20px;
          display:flex;
          flex-direction:row;
          border-bottom: 1px solid #333;
         
    }
    .image-logo{
        margin-top:20px;
        margin-right: 10px;
    }
    .nav-list{
        display:flex;
        flex-direction:row;
        margin-left:500px;
        padding-top:20px;
    }
    .nav-item{
        margin-left:80px;
        font-size:24px;
        text-transform: capitalize;
    }
    li {
        list-style:none;
    }
    .nav{
        color:purple;
    }
    .nav:hover{
        color:rgb(16, 158, 130);
        text-decoration:underline;
    }
    .button-1{
        margin-left: 90px;
        margin-top:27px;
    }
    .login{
        padding:10px 30px 10px 30px;
        background-color: #333;
        color:whitesmoke;
        border-radius:10px;
    }
    .pastentry{
        border: 1px solid #333;
        padding: 10px 20px 10px 20px;
        width: 60%;
        margin-right: 30px;
        background-color:lavender;
        border-radius: 10px;
    }
    section {
        margin-top:40px;
        margin-left:40px;
     }
    .day{
        font-size:25px;
        font-weight:50px;
        border:1px solid black ;
        background-color:lavenderblush;
    }
    .day-date-time{
        display:flex;
        flex-direction:row;
    }
    .date{
        font-size:25px;
        font-weight:50px;
        margin-left:30px;
        border:1px solid black;
        background-color:lavenderblush;
    }
    .month{
        font-size:25px;
        font-weight:50px;
        margin-left:10px;
        margin-top:0.5px;
        border:1px solid black ;
        background-color:lavenderblush;
    }
    .entry-1{
        display:flex;
        flex-direction:row;
        
        margin-top: 30px;
        margin-left:40px;
    }
    .enter-1{
        margin-right: 20px;
        font-size: 15px;
        font-weight: 10px;
    }
    .enter-2{
        margin-right: 20px;
        margin-left: 90px;
        font-size: 15px;
        font-weight: 10px;
    }
    .enter-3{
        margin-right: 20px;
        font-size: 15px;
        font-weight: 10px;
       
    }
    .time1{
        border:1px solid #333;
        background-color: lavenderblush;
       
    }
    .time2{
        border:1px solid #333;
        background-color: whitesmoke;
    }
    .time3{
        border:1px solid #333;
        background-color: whitesmoke;
    }
    .clock1{
        border: 1px solid #333;
        border-bottom:none;
        border-top:none ;

    }
    .clock2{
        border-left:1px  solid #333;
    }
    .emoji1{
        margin-left:110px;
        margin-top:20px;
        font-size:35px;
    }
    .emoji2{
        margin-left:110px;
        font-size:35px;
        margin-top:20px;
    }
    .emoji3{
        margin-left:110px;
        font-size:35px;
        margin-top:20px;
    }
    .journal{
        margin-bottom:30px;
    }
    .notes{
        font-size: 20px;
        max-width:790px;
        max-height: 200px;
        border:1px solid #333;
        padding:10px 15px 10px 15px;
        background-color: whitesmoke;
        
    }
    section {
        margin-top:40px;
        margin-left:40px;
     }
    .day{
        font-size:25px;
        font-weight:50px;
        border:2px solid black ;
        background-color:whitesmoke;
    }
    .day-date-time{
        display:flex;
        flex-direction:row;
    }
    .date{
        font-size:25px;
        font-weight:50px;
        margin-left:30px;
        border:2px solid black;
        background:whitesmoke;
    }
    .month{
        font-size:25px;
        font-weight:50px;
        margin-left:10px;
        margin-top:0.5px;
        border:2px solid black ;
        background-color:white;
    }
    .entry-1{
        display:flex;
        flex-direction:row;
        font-size: 15px;
        margin-top: 30px;
        margin-left:40px;
    }
    .enter-1{
        margin-right: 20px;
        font-size: 15px;
        font-weight: 10px;
    }
    .enter-2{
        margin-right: 20px;
        margin-left: 90px;
        font-size: 15px;
        font-weight: 10px;
    }
    .enter-3{
        margin-right: 20px;
        font-size: 15px;
        font-weight: 10px;
       
    }
    .time1{
        border:2px solid #333;
        background-color: whitesmoke;
        
       
    }
    .time2{
        border:2px solid #333;
        background-color: whitesmoke;
        
    }
    .time3{
        border:2px solid #333;
        background-color: whitesmoke;
        
    }
    .clock1{
        border: 2px solid #333;
        border-bottom:none;
        border-top:none;

    }
    .clock2{
        border-left:2px  solid #333;
    }
    .emoji1{
        margin-left:110px;
        margin-top:20px;
        font-size:35px;
    }
    .emoji2{
        margin-left:110px;
        font-size:35px;
        margin-top:20px;
    }
    .emoji3{
        margin-left:110px;
        font-size:35px;
        margin-top:20px;
    }
    .journal{
        margin-bottom:30px;
    }
    .notes{
        font-size: 20px;
        max-width:790px;
        max-height: 200px;
        border:2px solid #333;
        padding:10px 15px 10px 15px;
        background-color: whitesmoke;
        
    }
    
    section {
        margin-top:40px;
        margin-left:40px;
     }
    .day{
        font-size:20px;
        font-weight:50px;
        border:2px solid black ;
        background-color:whitesmoke;
        margin-left: 20px;
       
        
        margin-top:0.5px;
        border:2px solid black ;
        background-color:white;
        padding:3px 5px 3px 5px;
    }

        
    
    .day-date-time{
        display:flex;
        flex-direction:row;
    }
    .date{
        font-size:20px;
        font-weight:50px;
        margin-left:50px;
        border:2px solid black;
        background:whitesmoke;
        margin-top:0.5px;
        border:2px solid black ;
        background-color:white;
        padding:3px 5px 3px 5px;
    }
    
    .month{
        font-size:20px;
        font-weight:50px;
        margin-left:10px;
        margin-top:0.5px;
        border:2px solid black ;
        background-color:white;
        padding:3px 5px 3px 5px;
    }
    .entry-1{
        display:flex;
        flex-direction:row;
        
        margin-top: 30px;
        margin-left:20px;
    }
    .enter-1{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 10px;
    }
    .enter-2{
        margin-right: 20px;
        margin-left: 20px;
        font-size:20px;
        font-weight: 10px;
    }
    .enter-3{
        margin-right: 20px;
        font-size: 20px;
        font-weight: 10px;
       
    }
    .time1{
        border:2px solid #333;
        background-color: whitesmoke;
        
       
    }
    .time2{
        border:2px solid #333;
        background-color: whitesmoke;
        
    }
    .time3{
        border:2px solid #333;
        background-color: whitesmoke;
        
    }
    .clock1{
        border: 2px solid #333;
        border-bottom:none;
        border-top:none;
        padding: 3px 5px 3px 5px;

    }
    .clock2{
        border-left:2px  solid #333;
    }
    .emoji1{
        margin-left:80px;
        margin-top:20px;
        font-size:25px;
    }
    .emoji2{
        margin-left:80px;
        font-size:25px;
        margin-top:20px;
    }
    .emoji3{
        margin-left:80px;
        font-size:25px;
        margin-top:20px;
    }
    .journal{
        margin-bottom:30px;
    }
    .notes{
        margin-left: 20px;
        font-size: 20px;
        max-width:790px;
        max-height: 200px;
        border:2px solid #333;
        padding:10px 15px 10px 15px;
        background-color: whitesmoke;
    }
    
