body{
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
    border:none;
    transition: 0.2s linear;
    box-sizing:border-box;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color:#080232;
}


html{
    overflow-x:hidden;
}

header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.1);
    z-index: 800;
    padding:1rem 2rem;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
}

header .navbar{
    font-size:1.4rem;
    color:#333;
    margin-left:0.9rem;
}
header .navbar a{
    text-decoration: none;
    padding:0 1.9rem;
    color:black;
}
header .navbar a:hover{
    color:rgb(255, 255, 255);
}
 
  .button-1{
   vertical-align: top;
}
 .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display:none;
    position: absolute;
  
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:  1rem 2rem;
    z-index: 1;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
  }
  .dropdown-content p a{
    font-size:1.3rem;
    color:black;
  }
  .dropdown span{
   position:relative;
   left:2rem;
   color:black;
 }
 .dropdown span:hover{
    color:white; 
 }
  .dropdown:hover .dropdown-content {
    display:block;
  }
.login{
    padding:0.6rem 2rem;
    background-color: #333;
    color:white;
    border-radius:1rem;
}


main{
    margin:auto;
    width:75vw;

 }
 .login:hover{
    opacity:0.8;
}
.content-1{
    margin-top:40px;
    margin-bottom: 40px;
 }
 .main-slogan{
     background-image: url('../../assets/images/sad.jpg');
     background-size:100% 100%;
     width:95%;
     height:600px;
     border-radius:20px;
     margin: auto;
 }

 h1{
    font-size: 50px;
    margin-left:40px ;
}
h2{
    font-size: 30px;
    margin-left:40px;
}

.sad-p{
    position: relative;
    width:60rem;
    font-size: 25px;
    padding: 1.875rem 1.25rem 1.25rem;
    background: 0 0; 
    border: 1px solid orange;
    box-shadow: 6px 5px 3px  rgb(232 141  21 / 50%);
    margin: 2rem 0;
    margin-left: 3rem;
}

.space{
    margin-left: 40px;

   }
   
       .sadness-p{
        width:60rem;
        margin-left: 40px;
        font-size: 22px;
        text-align: left;
        line-height: 1.95rem;
     }


     .depression-p{
        width:60rem;
        margin-left: 3rem;
        font-size: 22px;
        text-align: left;
        line-height: 1.95rem;
       }
   .message1{
    border-radius:20px;
    width:60rem;
    height: 600px;
    background-color:#080232;
    margin-left:3rem;
}
.img1{
    display: flex;
    flex-direction:row;
 }
.img1 img{
    border-radius: 20px;
    margin-top:55px ;
    margin-bottom: 20px;
    margin-left: 40px;

}
.context1{
background-color:  rgb(232, 141, 21);
width:50%;
height:500px;
margin-top: 55px;
border-radius: 20px;
margin-left:30px;
}
.text1{
    text-align: left;
    margin-top:60px;
    margin-left:30px;
    margin-right: 30px;

 }
 .text1 h4{
 font-size: 27px;
 position: relative;
 left: 20px;
}
.key-p {
    font-size: 20px;
    line-height: 2.35rem;
 }
 table{
    width:60rem;
    margin-left:40px;
 }
table,th,td{
    border:1px solid white;
    padding:1rem;
}
th,td{
    background-color:#080232;
    color: rgb(232, 141, 21);
}
.heading-2{
    margin-left:30px;
}
.message2{
    border-radius: 20px;
    width:60rem;
    height: 600px;
    background-color:#080232;
    margin-left: 60px;
    margin-top: 30px;
}
    .img2{
        display: flex;
        flex-direction:row-reverse;
    }
    .img2 img{
        border-radius: 20px;
        margin-top:50px ;
        margin-bottom: 20px;
        margin-right: 30px;
    }
    .context2{
        background-color: rgb(232, 141, 21);
        width:50%;
        height:500px;
        margin-top: 50px;
        border-radius: 20px;
        margin-right:40px;
    
       }
       .text2{
        padding: 30px;
        text-align: left;
        font-size:18px;
        line-height: 1.75rem;
    }

       .message3{
        border-radius: 20px;
        width:60rem;
        height: 700px;
        background-color:#080232;
        margin-left: 60px;      
        margin-top: 30px;
    }
    .img3{
        display: flex;
        flex-direction:row;
    }
    .img3 img{
        
        border-radius: 20px;
        margin-top:55px ;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .context3{
    background-color:  rgb(232, 141, 21);
    width:50%;
    height:600px;
    margin-top: 55px;
    border-radius: 20px;
    margin-left:40px;
}
.text3{
    padding: 30px;
        text-align: left;
        font-size:16px;
        line-height: 1.75rem;
        position: relative;
        bottom: 20px;
}
.quotes{
    margin-top: 30px;
    margin-left:70px ;
}
.quotes-p{
    font-size:20px;
    font-weight: bold;
    border-radius: 9px;
    border-bottom-left-radius: 0;
    width:60rem;
    margin: 1.2rem 0;
    padding: 1.25rem 1rem;
    background: #f7f9f9;
    border-left: 5px solid rgb(232, 141, 21);
   text-align:center;
}

.picture3 img{
    object-fit:cover;
    background-position: center;
}
footer{
    margin-top: 40px;
    border-top:1px solid white;
    
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align: center;
    background-color: black;
    color:white;
 }
 .socialmedia{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin-top: 30px;
 }
 
 .socialmedia p{
     margin-right: 30px;
 }
 .socialyou{
     margin-right: 30px;
 }
 .socialins{
     margin-left:30px; 
 }
 

footer a{
    text-decoration: none;
    font-size:23px;
    color:#9e66b6;
    display:inline-block;
    margin-left: 30px;
   
  }
  footer a:hover{
    color:magenta;
  }
  
  header #toggler{
    display: none;
 }
 
 header .fa-bars{
     font-size: 3rem;
     color:#333;
     border-radius: .10rem;
     padding:.5rem 1.5rem;
     cursor: pointer;
     border:.1rem solid rgba(0,0,0,.3);
     display: none;
 }
  @media (max-width:700px){
    
    html{
        font-size: 55%;
    }
    header{
        padding:1rem;
    }
    header .fa-bars{
        display: inline-block;
    }
    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display:inline-block;
    }

    section{
        padding:1rem;
    }
    .sad-p{
        font-size: 2rem;
        line-height: 2.5rem;
        width:35rem;
    }
    .sadness-p{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:40rem;
    }
    .heading-1{
        font-size: 3rem;
        text-align: center;
    }
    .depression-p{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:40rem;
    }
    .picture1 img{
            
        display: none;
       
    }
    .message1{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:40rem;
        height: 65rem;
        margin-left: 30px;
    }
    .context1{
        font-size: 4.3rem;
        line-height: 3.7rem;
        width:35rem;
        bottom:10px;
        position: relative;
        right: 10px;
    }
   .key-p{
        font-size: 2.3rem;
        line-height: 3.0rem;
       
    }
    .heading-2{
        font-size: 3rem;
        text-align: center;
    }
    table{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:45rem;
        height: 65rem;
       position: relative;
       right:30px;
       }
       .message2{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:40rem;
        height: 85rem;
        margin-left: 30px;

    }
    .context2 {
        font-size: 2.3rem;
        line-height: 3.7rem;
        width:35rem;
        height:80rem ;
       left:15px;
       bottom:17px;
        position: relative;
       
    }
    .text2 p{
        font-size: 1.9rem;
        line-height: 2.7rem;

    }
    .text2 h3{
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .picture2 img{
            
        display: none;
       
    }
    .context3 {
        font-size: 2.3rem;
        line-height: 3.7rem;
        width:35rem;
        height:80rem ;
         right:15px;
       bottom:17px;
        position: relative;
       
    }
    .message3{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:40rem;
        height: 90rem;
        margin-left: 30px;
    }
    .text3 p{
        font-size: 1.9rem;
        line-height: 2.7rem;

    }
    .text3 h3{
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .picture3 img{
            
        display: none;
       
    }
    .quotes-p{
        font-size: 2.3rem;
        line-height: 2.7rem;
        width:35rem;

    }
}