body{
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
    border:none;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    transition: 0.2s linear;
    background-image: url('../../assets/images/bg55.jpg');
    background-position: 60% 50%;
}


html{
    overflow-x:hidden;
}

header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.1);
    text-transform:capitalize;
    z-index: 800;
    padding:1rem 2rem;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
}

header .navbar{
    font-size:1.4rem;
    color:#333;
    margin-left:0.9rem;
}
header .navbar a{
    text-decoration: none;
    padding:0 1.9rem;
    color:black;
}
header .navbar a:hover{
   color:white;
}
 .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display:none;
    position: absolute;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:  1rem 2rem;
    z-index: 1;
    background: linear-gradient(120deg ,#26506b,#9e66b6);
  }
  .dropdown-content p a{
    font-size:1.3rem;
    color:black;
  }
  .dropdown span{
   position:relative;
   left:2rem;
   color:black;
  }
  .dropdown span:hover{
    color:white;
  }
  .dropdown:hover .dropdown-content {
    display:block;
  }
  .fa-solid fa-user
  .button-1{
   vertical-align: top;
}
.login{
    padding:0.6rem 2rem;
    background-color: #333;
    color:white;
    border-radius:1rem;
}


.rightside-content{
    display:flex;
    border-bottom:1px solid white;
}
.right-content{
    display:flex;
    flex-direction:row;
}
.content-1{
    margin-left:20px;
    margin-top:50px;
    margin-right:20px;
}
.heading-1{
    font-size:60px;
    color:rgb(140, 70, 140);
}
.main-tag-1 .tagline-1 {
    color:rgb(36, 159, 126);
    font-size:23px;
}
.button-2{
     margin-top: 90px;

}
.welcome{
    color:rgb(36, 159, 126);
    font-size:30px;
    margin-top:40px;
}
section{
    padding:32px 96px;
    
}

.heading{
    text-align: center;
    font-size: 56px;
    color:#333;
    padding:14px;
    margin:32px 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:black;
}


.about .row{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    column-gap:96px;
    padding:32px 0;
    padding-bottom: 48px;
}

.about .row .video-container{
    flex:1 1 64px;
    position: relative;
    height:560px;
}

.about .row .video-container video{
    width:100%;
    border:24px solid #fff;
    border-radius: 8px;
    box-shadow: 8px 16px  rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:40%;
    font-size: 32px;
    background:#fff;
    width:95%;
    padding:16px 32px;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 64px;
}

.about .row .content h3{
    font-size: 48px;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:rgb(68, 65, 65);
    padding:8px 0;
    padding-top: 16px;
    line-height: 1.5;
}

.content-1 p{
    position: relative;
    top:10px;
    font-size: 20px;}

.content-1 button{
    margin-top: 10px;
    padding:15px 35px 15px 35px;
    background-color: #333;
    color:white;
    border-radius:10px;
    position:relative;
    bottom:30px;
}
.content-3 h2{
    margin-left:600px;
    margin-top: 70px;
    font-size: 35px;
       
    }
.content-3{
    color:rgba(33, 33, 133, 0.945)
}
.mood{
    font-size: 18px;
}
.past-entries{
    font-size: 18px;
    margin-left: 40px;
}

.main-slogan-image1{
    margin-right: 30px;
}
.main-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left:600px;
    margin-top:70px;
}
.main-tag-3{
    font-size: 20px;
    position: relative;
    right:150px;
}
.main-slogan-image3{
    position: relative;
   left:40px;
}
.main-4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right:800px;
    margin-left: 80px;
    margin-top:70px;
    position: relative;
    right:50px;
}
.main-tag-4{
    font-size: 20px;
    position: relative;
    left:150px;
}
.main-slogan-image4{
    position: relative;
    left:50px;
}
.main-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left:800px;
    margin-top:70px;
}
.main-tag-5{
    font-size: 2.2ch;
    width:500px;
    position: relative;
    right:150px;
}
.main-slogan-image5{
    position: relative;
    right:70px;
}
.main-6{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right:800px;
    margin-top:70px;
}
.main-tag-6{
    font-size: 20px;
    position: relative;
    left:150px;
}
.main-slogan-image6{
    position: relative;
    left:50px;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.socialmedia p{
    margin-right: 30px;
}
.socialyou{
    margin-right: 30px;
}
.socialins{
    margin-left:30px; 
}
footer{
    border-top:1px solid white;
    margin-top: 40px;
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align: center;
    background-color: black;
    color:white;
}
.mood:hover{
    opacity: 0.8;
    transition: 0.2s linear;
}
.past-entries:hover{
    opacity: 0.8;
    transition: 0.2s linear;
}
.login:hover{
    opacity: 0.8;
    transition: 0.2s linear;
}

footer a{
    text-decoration: none;
    font-size:23px;
    color:#9e66b6;
    display:inline-block;
    margin-left: 30px;
   
  }
  footer a:hover{
    color:magenta;
  }
  header #toggler{
    display: none;
 }
 
 header .fa-bars{
     font-size: 3rem;
     color:#333;
     border-radius: .10rem;
     padding:.5rem 1.5rem;
     cursor: pointer;
     border:.1rem solid rgba(0,0,0,.3);
     display: none;
 }
  @media (max-width:700px){
    
    html{
        font-size: 55%;
    }
    header{
        padding:1rem;
    }
    header .fa-bars{
        display: inline-block;
    }
    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display:inline-block;
    }

    section{
        padding:1rem;
    }

    .right-content .content-2{
       display: none;
    }
    .about .row{
        display: block;
        
    }

    .about .row .content h3{
        font-size: 5rem;
        padding-top: 5rem;
        padding-left: 5rem;
    }

    .about .content span
    {
        font-size: 2.5rem;
    }
    
    .about .row .video-container{
        width: 390px;
        height:360px;
        margin-left:18px;
    }
    
    .about .row .content p{
        font-size: 2.5rem; 
        padding:2rem 5%;
    }
    .about .row .video-container h3{
        
        font-size: 19px;
    }
.content-3 {
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}
.content-3 h2{
   position:relative;
   right:300px;
}
.main-tag-4 h3{
    padding-left:550px;
   width: 400px;
}
.main-tag-5 h3{
    padding-right:150px;
   width:400px;
   font-size:2.3rem ;
}
.main-tag-6 h3{
    padding-left:550px;
   width:400px;
}
.main-tag-3 h3{
    padding-right:150px;
   width: 400px;
}
.main-slogan-image3,.main-slogan-image4,.main-slogan-image5,.main-slogan-image6{
    display: none;
}
.main-tag-3 p{
    display:none;
}
.main-tag-4 p{
    display:none;
}
.main-tag-5 p{
    display:none;
}
.main-tag-6 p{
    display:none;
}
footer{
    font-size:1.8rem;
}
}